{% load static %}
<!DOCTYPE html>
<head>
    <title>predict-handwriting-number</title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" href="{% static 'app_to_predict/style.css' %}">
</head>

<h2>Your Picture</h2>

{% for image in images %}
    <img src='{{ MEDIA_URL }}{{image.picture}}' width=200>

{% endfor %}
<h2>The handwriting number is maybe</h2>
<h1>[ {{ result }} ]</h1>
<h2><a href="{% url 'app_to_predict:upload' %}">Upload more</a></h2>